.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #00ff00;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #00ff00;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:#00ff00;
}
  .botao{
    background-color: #00ff00 !important;
  }