<h1 class="breadcrumb"><b>Sobre nós</b></h1>
<div style="padding-top: 12px">
  <div class="lado">
    <div class="column">
      <mat-card class="tecnologias">
        <mat-card-title-group>
          <mat-card-title>Tecnologias</mat-card-title>
          <mat-card-subtitle>Mobile</mat-card-subtitle>
          <img mat-card-lg-image src="assets\Apple-Swift.png" />
        </mat-card-title-group>
        <mat-card-content>
          {{ textoMobile }}
        </mat-card-content>
      </mat-card>

      <mat-card class="tecnologias">
        <mat-card-title-group>
          <mat-card-subtitle>Web</mat-card-subtitle>
          <img mat-card-lg-image src="assets\angular.png" />
        </mat-card-title-group>
        <mat-card-content>
          {{ textoWeb }}
        </mat-card-content>
      </mat-card>
    </div>
    <div class="column" style="margin-left: 12px; margin-top: 10px;">
      <mat-card class="tecnologias">
        <mat-card-title-group>
          <mat-card-subtitle>GitHub</mat-card-subtitle>
          <img mat-card-lg-image src="assets\github.png" />
        </mat-card-title-group>
        <mat-card-content>
          <a href="https://github.com/leojportes/Fin4teenApp">GitHub</a>
        </mat-card-content>
      </mat-card>

      <mat-card class="tecnologias" style="margin-top: 36px;">
        <mat-card-title-group>
          <mat-card-subtitle>Instagram</mat-card-subtitle>
          <img mat-card-lg-image src="assets\instagram.png" />
        </mat-card-title-group>
        <mat-card-content>
          <a href="https://www.instagram.com/fin4teenapp/">Instagram</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
